# ---- Systèmes / éditeurs ----
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp

# ---- Visual Studio Code ----
.vscode/
.history/

# ---- Python (si tu ajoutes scripts d’export) ----
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# ---- Node / JS (si tu ajoutes outils Mermaid CLI) ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---- Exports / Générés ----
# *.pdf
*.pptx
# *.png
*.svg
*.jpeg
*.jpg
*.gif
*.zip
*.tar.gz

# ---- OS cache ----
ehthumbs.db
Icon?

# ---- Build local (docs → PNG/PDF/temp) ----
build/
!build/.gitkeep   # si tu veux garder le dossier vide versionné

# ---- Devcontainer ----
.devcontainer/.venv/
.devcontainer/*.log
